%p Something went wrong during reading receipts from sales file. 
%p Data read from daily report: #{@sale.receipt_count} receipts / #{@sale.cancelled_receipt_count} cancelled receipts does not match number of receipt records: #{@sale.sale_receipts.count}.
%p= sale_url(@sale) 
