- model_class = ProductType
.page-header
  %h1= t('.edit', default: [:'helpers.titles.edit', 'Edit']) + ' ' + t('activerecord.models.producttype.accusative', default: ProductType.model_name.human.titleize)
= render :partial => "form"