- model_class = ProductPrice
.page-header
  %button.close{ "data-dismiss" => "modal" } &times
  %h1= t('.edit', default: [:'helpers.titles.edit', 'Edit']) + ' ' + t('activerecord.models.product_price.accusative', default: ProductPrice.model_name.human.titleize)
= render :partial => "form"