.btn-group
  %a.btn{ href: root_path, title: t('Home page', default: 'Home page') }
    %i.icon-home
  %a.btn{ href: edit_user_registration_path, title: t("Edit your data", default: 'Edit your data') }
    %i.icon-user
  - if !current_user.current_store_id.blank?
    %a.btn{ "data-toggle" => "dropdown", href: "#", style: 'border-right: none', title: t('Change store', default: 'Change store') }
      = current_user.current_store.symbol
    - if current_user.multiple_stores?
      %ul.dropdown-menu
        - current_user.stores.uniq.each do |store|
          %li= link_to store.symbol, change_store_path(store)
  %a.btn.right{ href: destroy_user_session_path, "data-method" => "delete", title: t("Sign out", default: 'Sign out') }
    %i.icon-off