.btn-group
  %a.btn{ href: edit_user_registration_path }
    %i.icon-user
  %a.btn.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
    = current_user.first_name
    - if !current_user.current_store_id.blank?
      = current_user.current_store.symbol
  %b.btn
    %i.icon-off
  %ul.dropdown-menu
    %li= link_to t('Edit data'), edit_user_registration_path
    %li= link_to t('Sign out'), destroy_user_session_path, :method => :delete
