- model_class = User
.page-header
  %h1= t('.edit', default: [:'helpers.titles.edit', 'Edit']) + ' ' + t('activerecord.models.user.accusative', default: User.model_name.human.titleize)
= render :partial => "form"