- model_class = Taking
.page-header
  %button.close{ "data-dismiss" => "modal" } &times
  %h1= t('.edit', default: [:'helpers.titles.edit', 'Edit']) + ' ' + t('activerecord.models.taking.accusative', default: Taking.model_name.human.titleize)
= render :partial => "form"