- model_class = Sale
.page-header
  %button.close{ "data-dismiss" => "modal" } &times
  %h1= t('.edit', default: [:'helpers.titles.edit', 'Edit']) + ' ' + t('activerecord.models.sale.accusative', default: Sale.model_name.human.titleize)
= render :partial => "form"